<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:thnum="http://www.thymeleaf.org/extras/numbers">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BeeBetaShoes</title>
  <link rel="shortcut icon" type="image/png" href="../../../static/assets/images/logos/favicon.png" />
  <link rel="stylesheet" href="../../../static/assets/css/styles.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body ng-app="myApp" ng-controller="ctrl">
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <div th:insert="admin/layout/_sidebar.html"> :: sidebar"></div>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <div th:insert="admin/layout/_header.html"> :: header"></div>
      <!--  Header End -->
      <div class="container-fluid" >
        <h3> Quản Lý Sản Phẩm</h3>
        <div> <a href="/admin/san-pham/add"><button class="btn btn-success">Add</button></a> </div>
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Ảnh</th>
            <th scope="col">Mã SP</th>
            <th scope="col">Tên SP</th>
            <th scope="col">Giá Bán</th>
            <th scope="col">Danh Mục</th>
            <th scope="col">Thương Hiệu</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>

          <tr ng-repeat="sp in list" ng-if="sp.trangThai == 0">
            <td> {{$index + 1}}</td>
            <td><img style="width: 100px;height: 100px" src="{{sp.sanPham.anhs[0].link}}"></td>
            <td>{{sp.sanPham.maSanPham}}</td>
            <td>{{sp.sanPham.tenSanPham}}</td>
            <td>{{sp.giaBan}}</td>
            <td>{{sp.danhMuc.tenDanhMuc}}</td>
            <td>{{sp.thuongHieu.tenThuongHieu}}</td>
            <td><a href="/admin/san-pham/update/{{sp.idCTSP}}"><button class="btn btn-behance" ng-click="getbyid(sp)">Update</button></a>
              <button class="btn btn-danger" ng-click="delete(sp.idCTSP)">Delete</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <script src="sanpham.js"></script>
<!--        footer-->
      <div th:insert="admin/layout/_footer.html"> :: footer"></div>
      </div>
    </div>
  </div>
  <script src="../../../static/assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="../../../static/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="../../../static/assets/js/sidebarmenu.js"></script>
  <script src="../../../static/assets/js/app.min.js"></script>
  <script src="../../../static/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
  <script src="../../../static/assets/libs/simplebar/dist/simplebar.js"></script>
  <script src="../../../static/assets/js/dashboard.js"></script>
</body>

</html>